# Ignore dependencies and build artifacts
node_modules
dist
.cache
.next
out
logs
*.log
coverage
*.env
.env.*
.git
.gitignore
*.md
*.DS_Store
.vscode
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.sqlite
*.db
*.iml
.idea
*.code-workspace
*.local
*.secret
client_secret.json
Arbi/
